*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.right{
    float: right;
}

header{
    margin: -230px 85px;
    margin-bottom: 0px;
}
h1{
    color: #81D2C7;
    background-color: #043565;
    padding: 30px 5px;
    margin: 10px 30px;
    text-align: center;
    font-family: "Roboto";
    font-size: 25px;
    border-radius: 15px;
    text-transform: uppercase;
}
section{
    margin-left: 170px;
    margin-top: 120px;
}
ol > li{
    padding: 25px;
    font-size: 30px;
    word-spacing: 1px;
    color:#043565;
    font-weight: lighter;
    font-family: 'Roboto';
}
.col-2{
    display: inline;
    float: right;
    width: 330px;
    margin-right: 5%;
}
.hide1,.hide2,.hide3,.hide4,.hide5,.hide6,.hide7,.hide8,.hide9,.hide10,.hide11,.hide12{
    display: none;
}
.pic1:hover + .hide1{
    display: inline-block;
}
.pic2:hover + .hide2{
    display: inline-block;
}
.pic3:hover + .hide3{
    display: inline-block;
}
.pic4:hover + .hide4{
    display: inline-block;
}
.pic5:hover + .hide5{
    display: inline-block;
}
.pic6:hover + .hide6{
    display: inline-block;
}
.pic7:hover + .hide7{
    display: inline-block;
}
.pic8:hover + .hide8{
    display: inline-block;
}
.pic9:hover + .hide9{
    display: inline-block;
}
.pic10:hover + .hide10{
    display: inline-block;
}
.pic11:hover + .hide11{
    display: inline-block;
}
.pic12:hover + .hide12{
    display: inline-block;
}